*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
# escape pdf output
!docs/FIN5005-Fall-20??.pdf
# figures are sources, not build output
!images/**/*.pdf

# ignore output
# Quarto build cache
# symbolic links to output folders, it points to `~/.quarto-cache/` on my local disk; see setup-local-cache.sh.
# the two preceding stars mean "any level of subdirectory"
**/.quarto

# folder for quarto build output
**/.quarto/

/_site/
/_book/

# ignore user folders you don't want to share
/Rscripts/
/_quiz/
/_lab/
/_exam/
/_homework/
/.vscode/

# By default, new CSV files in /data should be tracked.
# If you want to exclude a specific CSV file, add it here
/data/NO_return_with_factors.csv
/data/NO_fundamental_data_with_factors.csv
/data/NO_fundamental_data.csv
/data/NO_return_with_factors_mowi-gogl.csv

# auto generated system files
.DS_Store
~*
**/*.quarto_ipynb

# LaTeX build artifacts
*.aux
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv
*.toc
*.lof
*.lot
*.bbl
*.blg


/.quarto/
